/* src/index.css (append) */
@layer utilities {
  .submenu-enter {
    @apply opacity-0 translate-y-[-10px];
  }
  .submenu-enter-active {
    @apply opacity-100 translate-y-0 transition-all duration-200 ease-out;
  }
}